* {
  margin: 0;
  padding: 0;
  /* background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif) */

  /* box-sizing: border-box; */
}

.App {
  text-align: center;
}

.bannar {
  min-width: 100%;
  min-height: 500px;
  background-image: url(https://media.giphy.com/media/U4ExkAvRpVQGB0NMe0/giphy.gif);
}

.bannarstyle {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  /* color: aqua; */
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 400px) {
  .bannar{
    min-width: 100%;
  min-height: 700px;
  }
  
}